.secondary-pane {
    width: 45%;
    border-left: 1px solid var(--divider);
    background: var(--primary);
    -webkit-user-select: none;
    min-width: 250px;
}

.prop-row {
    display: inlne-block;
    padding: 6px var(--padding-medium);
    color: var(--text-secondary);
    font-size: 0.8em;
    font-weight: 600;
    border-bottom: 1px solid var(--divider);
}

.props-key {
    display: inline-block;
    font-size: 1.1em;
    word-wrap: break-word;
    width: 50%;
    color: var(--text-tertiary);
}

.props-value {
    display: inline-block;
    word-wrap: break-word;
    width: 50%;
    color: var(--text-primary);
}

.title-bar-spacer {
    flex: 1;
}

.title-bar-icon {
    -webkit-app-region: no-drag;
    height: 35px;
    -webkit-user-select: none;
    padding: var(--padding-medium) 20px;
}

.title-bar-icon--normal:hover {
    background-color: var(--primary-dark);
}

.title-bar-icon--close:hover {
    background-color: rgba(255, 0, 0, 0.836);
}

.secondary-pane-button{
    background: var(--accent);
    padding: 2px 6px;
    height: 28px;
    border-radius: 4px;
    margin: auto 12px;
    overflow: hidden;
}