.secondary-pane{
    width: 300px;
    background: var(--primary-dark);
}

.prop-row{
    padding: var(--padding-medium);
    color: var(--text-secondary);
    border-bottom: 1px solid var(--divider);
}
.props-key{
    font-weight: 600;
}