.side-pane-tab {
    color: var(--text-secondary);
    padding: var(--padding-medium);
    transition: background 0.2s ease;
    cursor: pointer;
}

.side-pane-tab--selected, .side-pane-tab:hover{
    border-right: 2px solid var(--accent);
    background: var(--primary);
}

.side-pane-tab-method {
    width: 50px;
    font-size: 0.7em;
    font-weight: 600;
    display: inline-block;
}