.side-pane-tab {
    color: var(--text-secondary);
    padding: 10px var(--padding-medium) ;
    transition: all 0.2s ease;
    cursor: pointer;
    display: flex;
    font-size: 0.9em;
    border-right: 3px solid transparent;
}

.side-pane-tab-title {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.side-pane-tab--selected, .side-pane-tab:hover {
    border-right: 3px solid var(--accent);
    background: var(--side-tab-highlight);
    color: white;
}

.side-pane-tab-method {
    width: 50px;
    font-size: 0.75em;
    font-weight: 600;
    direction: rtl;
    display: inline-block;
}