/* :root {
  --primary-light: #323741;
  --primary: #282c34;
  --primary-dark: #21252b;
  --accent: #61afef;
  --divider: #3a3e46;
  --tag: #e06c75;
  --value: #98c379;
  --number: #c678dd;
  --extra: #bbbbbb;
  --text-primary: #ffffff;
  --text-secondary: #909295;
  --text-tertiary: #4b5366;
  --prop-key-color: #61afef;

  --padding-medium: 12px;
  --padding-small: 6px;
} */


.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pane-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

.pane {
  position: relative;
  height: 100%;
  display: flex;
  background: var(--primary);
  color: var(--text-primary);
  flex-direction: column;
}

.pane-header {
  height: var(--header-size);
  display: flex;
  -webkit-app-region: drag;
}

.pane-body {
  flex: 1;
  overflow: auto;
}

*:focus {
  outline: 0;
}