.main-pane {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

.main-pane__body{
    overflow-y: auto;
    flex: 1;
}

.url-bar {
    border: 0;
    background: transparent;
    color: var(--text-primary);
    flex: 1;
    padding: 0;
    background-color: #ffffff07;
    margin: var(--padding-medium) 0px;
    padding: var(--padding-medium);
    border-radius: 4px;
}

.flat-btn {
    background: transparent;
    color: var(--text-primary);
    border: 0;
    border-radius: var(--context-menu-border-radius);
    margin: var(--padding-medium);
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8em;
    transition: background 0.2s ease;
}

.main-pane-header {
    -webkit-app-region: no-drag;
}