.side-pane {
    -webkit-user-select: none;
    width: 250px;
    min-width: 250px;
    background: var(--primary-dark) !important;
}

.side-pane .pane-header {
    padding: var(--padding-medium);
}

.search-bar {
    flex: 1;
    padding: var(--padding-medium);
    background: var(--side-tab-highlight);
    border-radius: 4px;
    border: 0;
}

.search-container {
    display: flex;
    padding: var(--padding-medium);
}

.search-container button {
    background: var(--primary-dark);
    border: 0px;
    border-radius: 4px;
    padding: 0px var(--padding-medium);
    color: white;
    height: 100%;
}

.floating-action-btn {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-weight: 100;
    position: absolute;
    background: var(--accent);
    border-radius: 50%;
    text-align: center;
    right: var(--padding-medium);
    bottom: var(--padding-medium);
    cursor: pointer;
    font-size: 1.6em;
    transition: all 0.2s ease;
}

.floating-action-btn:hover{
    opacity: 0.9;
}