.status-bar{
    height: 30px;
    background: var(--primary-dark);
    border-top: 1px solid var(--divider);
    color: var(--text-tertiary);
    font-size: 0.7em;
    -webkit-user-select: none;
    line-height: 30px;
    padding-left: var(--padding-medium);
}