@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans", monospace;
}

:root {
  --scrollbar-thumb: #4a4f5a;
  --scrollbar-track: #2f343e;
}

.resizer {
  position: absolute;
  cursor: ew-resize;
  background-color: transparent;
  transition: all 0.2s ease;
  height: 100%;
  width: 4px;
  z-index: 100;
}

.resizer-right {
  right: -3px;
}

.resizer-left {
  left: -3px;
}

input {
  color: var(--text-primary);
}

.dialog {
  background-color: var(--primary);
  display: block;
  position: relative;
  height: 100%;
  color: var(--text-primary);
}
*:focus {
  outline: 0;
}